@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    font-family: "Raleway", sans-serif;
    background-color: #000000;
    overflow-x: hidden;
  }

  li {
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
  }
}

@layer components {
  .custom-swiper .swiper-button-next,
  .custom-swiper .swiper-button-prev {
    color: #ffffff !important;
    width: 30px !important;
    height: 30px !important;
    background: #fbfbfb34 !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1)) !important;
    transition: all 0.2s ease; /* smooth animation */
  }
  @media (max-width: 768px) {
    .custom-swiper .swiper-button-next,
    .custom-swiper .swiper-button-prev {
      display: none !important;
    }
  }
  /* Hover effect */
  .custom-swiper .swiper-button-next:hover,
  .custom-swiper .swiper-button-prev:hover {
    background: #ffffff98 !important; /* solid white background on hover */
    color: #000000 !important; /* icon color changes on hover */
    transform: scale(1.1); /* slightly enlarges */
  }

  .custom-swiper .swiper-button-next::after,
  .custom-swiper .swiper-button-prev::after {
    font-size: 1rem !important;
    color: #ffffff !important;
    filter: blur(0.5px);
    font-weight: 600 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease; /* smooth color transition */
  }

  /* Optional: icon color change on hover */
  .custom-swiper .swiper-button-next:hover::after,
  .custom-swiper .swiper-button-prev:hover::after {
    color: #000000 !important;
  }
  .custom-swiper .swiper-pagination-bullet {
    background-color: #eff1f170;
    opacity: 2;
  }

  .custom-swiper .swiper-pagination-bullet-active {
    background-color: #007bff;
    margin-top: 10px;
  }
}

.custom-swiper {
  width: 900px;
  height: 450px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .custom-swiper {
    width: 100%;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}
